services:
  ui:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - AGENT_URL=http://agent:8000/
    depends_on:
      - agent

  agent:
    build:
      context: ./agent
      dockerfile: Dockerfile
    expose:
      - "8000"
    env_file:
      - ./agent/.env
    environment:
      - OPENAI_API_KEY
      - SNOWLEOPARD_API_KEY
      - SNOWLEOPARD_DATAFILE_ID
